/* ----------- GERAL ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background-image: url(./Images/Background.png);
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Manrope';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:white;
}


/* ----------- NAVIGATION ---------- */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 5rem;
}

.menu-mobile {
    display: none;
}

.menu ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3.2rem;


    font-weight: 500;
    font-size: 1.4rem;
    
}

button {
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: uppercase;

    color: white;

    border: solid 1px hsl(258, 73%, 62%);
    border-radius: 1rem;

    padding-block: 1.1rem;
    padding-inline: 2.5rem;

    background: none;

    transition: background 300ms ease-in;
}

button:hover {
    background-color: rgb(150, 108, 249);
}

.button-mobile {
    display: none;
}

 .close-menu {
    display: none;
}

.container img {
    margin-top: 5.6rem;
    margin-bottom: 4rem;
}

.mobile {
    display: none;
}

/* ------------- MOBILE ------------- */
@media(max-width: 600px) {
  

/* ------- BODY -------------------------- */
    body {
        background-color: black;

        font-family: 'Manrope';
        font-size: 1.6rem;
        align-items: center;
        text-align: center;
    }


    /* ----------- MENU ----------- */

    .logo {
        display: none;
    }

    #btn-menu {
        display: flex;
        border: none;
    }

    .menu #list-menu {
        display: none; 
        position: absolute;
        right: 0px;
        width: 100%;
        top: 8rem;
        height: calc(100vh - 8rem);

        z-index: 10000;

    }

    .menu-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 2rem;
       
    }

    .mobile {
        display: flex;
        font-weight: 600;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin-inline: auto;
        margin-block: 8.8rem;

        width: 100vh;

    }

    button {
        display: none;
    }

    .button-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin-inline: auto;
        margin-bottom: 9.8rem;

        font-weight: 800;
        font-size: 1.1rem;
        text-transform: uppercase;

        color: white;

        border: solid 1px hsl(258, 73%, 62%);
        border-radius: 1rem;

        background: none;
    }

   .container img {
       width: 100vh;
   } 

   .coffe img {
    width: 100vh;
}
    
/*--------------MENU EXPANDED ---------------*/
#navigation.active .menu #list-menu  {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid hsla(240, 6%, 17%, 1);
}

.menu #list-menu {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid hsla(240, 6%, 17%, 1);

}


}

























